<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Backbone.js</title>
	<style>
	.completed{
		text-decoration:line-through;
		color:#999;
	}
	</style>
</head>
<body>

	<h1>Tasks</h1>

	<form action="" id="addTask">
		<input type="text" id="title">
		<input type="submit" value="add">
		<span id="error"></span>
	</form>

	<div id="tasks"></div>
	<p>Tasks left : <span id="count"></span></p>
	<script type="text/template" id="task-template">
		<input type="checkbox" class="toggle" <%= completed ? 'checked' : '' %>>

		<span class="<%= completed ? 'completed' : '' %>">
			<%- title %>
		</span>

		<span class="delete">[X]</span>
	</script>

	<script src="js/jquery.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/app.js"></script>
</body>
</html>